@model WebApplication1.ViewModels.MovieViewModel
@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Movie"))
{
    @Html.ValidationSummary(true, "Please Correct The Folowing Fields");

    <div class="form-group">
        @Html.LabelFor(n => n.Name)
        @Html.TextBoxFor(n => n.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.ReleaseTime)
        @Html.TextBoxFor(n => n.ReleaseTime, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.ReleaseTime)
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.DateAddded)
        @Html.TextBoxFor(n => n.DateAddded, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.DateAddded)
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.NumberInStock)
        @Html.TextBoxFor(n => n.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.NumberInStock)
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.GenreId)
        @Html.DropDownListFor(n => n.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Gengre", new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.GenreId)
    </div>

    @Html.HiddenFor(n => n.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval");
}