@model IEnumerable<WebApplication1.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie", "New", "Movie", new { @class="btn btn-primary" })
<table class="table">
    <thead>
        <tr>
            <th>Movie Name</th>        
            <th>Genre</th>        
            <th>Release Time</th>        
            <th>Added Date</th>        
            <th>Stock Number</th>        
            <th>Delete</th>        
        </tr>
    </thead>
        <tbody>
            @foreach (var movie in Model)
            {
            <tr>
                <td>@Html.ActionLink(movie.Name, "EditMovie", new { id = movie.Id })</td>
                <td>@movie.Genre.Name </td>
                <td>@Html.DisplayFor(n => movie.ReleaseTime)</td>
                <td>@Html.DisplayFor(n => movie.DateAddded, "{0:9 MMM yyyy}")</td>
                <td>@movie.NumberInStock</td>
                <td>@Html.ActionLink("Delete", "DeleteMovie", new { id = movie.Id }, new { onclick = "return confirm('Are you Sure you want to delete Movie')" })</td>
            </tr>
            }
        </tbody>
    
</table>