@model WebApplication1.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "NewCustomer";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save","Customer"))
{
    @Html.ValidationSummary(true,"Please Correct The Folowing Fields");

    <div class="form-group">
        @Html.LabelFor(n => n.Name)
        @Html.TextBoxFor(n => n.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.Birthdate)
        @Html.TextBoxFor(n => n.Birthdate,"{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.Birthdate)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(n => n.IsSubscribed) Is Subscribed ?
        </label>
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.MembershipTypeId)
        @Html.DropDownListFor(n => n.MembershipTypeId, new SelectList(Model.MemberShipTypes, "Id", "Name"), "Select Membership", new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.MembershipTypeId)
    </div>

    @Html.HiddenFor(n=>n.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
