@model IEnumerable<WebApplication1.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("New Customer", "New", "Customer", new { @class = "btn btn-primary" })

<table class="table">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Discount Rate</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", new { id = customer.Id })</td>
                <td>@customer.MemberShipType.Name </td>
                @*<td>
                    <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                </td>*@
                <td>@Html.ActionLink("Delete", "DeleteUser",new { id = customer.Id }, new {onclick = "return confirm('Are you Sure you want to delete Customer')"})</td>
            </tr>
        }
    </tbody>
</table>
